@import "normalize.css";
@import "grid.css";
@import "fonts.css";

:root {
  --text-color: #333333;
  --app-bg-color: #fff;
  --section-bg-color: #fff;
  --main-color: #0abead;
  --second-color: #f57f17;
  --poppins-medium: "Poppins Medium";
  --poppins-semibold: "Poppins SemiBold";
  --poppins-bold: "Poppins Bold";
  --poppins-black: "Poppins Black";
}
:root.dark-theme {
  --text-color: #95a5c6;
  --app-bg-color: #161d26;
  --section-bg-color: #1f2935;
}

:root.dark-theme .about,
:root.dark-theme .home-picture,
:root.dark-theme .header,
:root.dark-theme .price-box,
:root.dark-theme .contact,
:root.dark-theme .contact__input,
:root.dark-theme .contactus__map {
  box-shadow: none;
}
:root.dark-theme .home {
  background-image: url("../images/shapes/header-shape\ copy.svg");
}
html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins";
  font-size: 1.6rem;
  line-height: 1.5;
  color: var(--text-color);
  background-color: var(--app-bg-color);
}
/* 

Reset

*/

a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}
h1 {
  margin: 0;
}

/* 

Component

*/

.app-title {
  font-family: var(--poppins-bold);
  margin: 0;
  font-size: 4rem;
  color: var(--main-color);
}

.app__btn {
  color: #fff;
  padding: 1.8rem 3.8rem;
  border-radius: 4rem;
  display: inline-block;
  font-family: var(--poppins-semibold);
}
.app__btn:last-child {
  margin-left: 1rem;
  margin-top: 1.5rem;
}
.app__btn--blue {
  background-color: var(--main-color);
  box-shadow: 0 2rem 5rem rgba(11, 190, 172, 41%);
}
.app__btn--yellow {
  background-color: var(--second-color);
  box-shadow: 0 2rem 5rem rgba(245, 127, 23, 24%);
}

.section-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 7rem 0;
  color: var(--main-color);
}
.section__title {
  font-family: var(--poppins-bold);
  font-size: 5rem;
}
.section__caption {
  margin-top: 0.5rem;
  letter-spacing: 0.3rem;
  color: var(--text-color);
}
.section__line {
  width: 3rem;
  height: 0.8rem;
  background-color: var(--main-color);
  border-radius: 3rem;
  position: relative;
}

.section__line::before,
.section__line::after {
  content: "";
  position: absolute;
  width: 12rem;
  height: 0.2rem;
  background-color: var(--main-color);
  top: 0;
  bottom: 0;
  margin: auto 0;
  border-radius: 2rem;
}
.section__line::before {
  right: 0;
}
.section__line::after {
}

/* 
=
Helper class
=
*/

.bg-purple {
  background-color: #8540ff;
}

.bg-yellow {
  background-color: #ffc50c;
}

.bg-pink {
  background-color: #ec407a;
}
.bg-orange {
  background-color: #ff6331;
}
.bg-blue {
  background-color: #13b6ff;
}
.bg-green {
  background-color: #49af46;
}

.skew-y-5 {
  transform: skewY(5deg);
}

.center {
  display: flex;
  justify-content: center;
}

/* 

App

*/

/* 
==========
Header
==========
*/

.header {
  box-shadow: 0 0.5rem 4rem rgba(4, 195, 255, 16%);
  background-color: var(--section-bg-color);
  position: fixed;
  z-index: 100;
  left: 0;
  right: 0;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 0;
}

.nav__logo {
  color: var(--main-color);
  font-size: 6rem;
  font-family: var(--poppins-black);
}

.menu {
  display: flex;
}

.menu__item {
  margin-left: 4rem;
}

.menu__link {
  color: var(--text-color);
  font-family: var(--poppins-medium);
  transition: all 150ms ease;
}
.menu__link:hover {
  color: var(--main-color);
}
.menu__link--active {
  color: var(--main-color);
}
.nav__toggle-icon {
  width: 5rem;
  height: 5rem;
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.nav__toggle-line {
  position: relative;
  transition: all 100ms ease-in;
}

.nav__toggle-icon--active .nav__toggle-line::before {
  transform: translateY(-1rem) rotate(-45deg);
}

.nav__toggle-icon--active .nav__toggle-line::after {
  transform: translateY(1rem) rotate(45deg);
}

.nav__toggle-line,
.nav__toggle-line::before,
.nav__toggle-line::after {
  content: "";
  width: 4.5rem;
  height: 0.4rem;
  background-color: var(--main-color);
  border-radius: 1rem;
}
.nav__toggle-line::before {
  position: absolute;
  top: 1rem;
  transition: all 150ms ease-in;
}
.nav__toggle-line::after {
  position: absolute;
  bottom: 1rem;
  transition: all 150ms ease-in;
}

.nav__toggle-icon--active .nav__toggle-line {
  background-color: transparent;
}

/* 
==========
Cover
==========
*/

.cover {
  display: block;
}

/* 
=============
    Main
=============
*/
main {
  padding-top: 12rem;
  overflow-x: hidden;
}

/* 
===========
Section Home
===========
*/

.home {
  background-image: url("../images/shapes/header-shape.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  height: 80rem;
}
.row {
}
.home__content {
  display: flex;
  flex-direction: column;
  line-height: 1.2;
}
.home__name {
  font-family: var(--poppins-semibold);
  color: var(--main-color);
}
.home__name-color {
  color: var(--second-color);
}
.home__title {
}
.home__caption {
}
.home__links-wrapper {
}
.home__link {
}

.home-picture-wrapper {
  display: flex;
  justify-content: center;
  /* margin-top: 25rem; */
}

.home-picture {
  width: 50rem;
  height: 50rem;
  background-image: url("../images/header-avatar.jpg");
  background-position: -16rem center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: 1.8rem solid var(--section-bg-color);
  box-shadow: 0 0 4rem rgba(4, 195, 255, 16%);
}

.home__wrapper {
  flex-direction: row;
  align-items: center;
  margin-top: 10rem;
}
.nav-logo__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.change-theme {
  margin-left: 4rem;
  box-shadow: 0 0 3rem rgba(4, 195, 255, 25%);
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.change-theme:hover {
  box-shadow: 0 0 3rem rgba(4, 195, 255, 30%);
}
.header__shape {
  margin-bottom: 50rem;
}
/* 
===========
 AboutUs Section
===========
*/
.aboutus {
}

.about {
  display: flex;
  box-shadow: 0 0 5rem rgba(96, 233, 255, 27%);
  background-color: var(--section-bg-color);
}

.about__picture {
  width: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about__content {
  width: 50%;
  padding: 4rem;
}

.about__title {
  font-size: 2.2rem;
  margin-top: 0;
}

.about__caption {
}

.about__menu-title {
  margin-top: 8rem;
  font-family: var(--poppins-semibold);
  color: var(--main-color);
  font-size: 1.7rem;
  margin-bottom: 1.5rem;
}

.about__menu {
  line-height: 2;
}

.about__munu-item {
  margin-left: 3rem;
  position: relative;
}

.about__munu-item::before {
  content: "";
  position: absolute;
  width: 2rem;
  height: 2rem;
  background-color: var(--second-color);
  top: 0;
  bottom: 0;
  margin: auto 0;
  border-radius: 50%;
  left: -2.5rem;
}

.about__links {
  margin-top: 3rem;
}
/* 
===========
Section Section
===========
*/

.services {
}

.service {
  color: #fff;
  height: 38rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem 3rem 3rem 3rem;
  text-align: center;
  position: relative;
}
.service-shape {
  position: relative;
  overflow: hidden;
}
.service-shape::before {
  content: "";
  position: absolute;
  background-image: url("../images/shapes/service-shape.svg");
  background-repeat: no-repeat;
  /* background-position: center; */
  background-size: cover;
  bottom: 0;
  right: 0;
  left: 0;
  /* margin: 0 auto; */
  z-index: 9;
  width: calc(100% - 3rem);
  height: 24rem;
  margin: 0 auto;
  opacity: 5%;
}

.service__icon {
  z-index: 10;
}

.service__title {
  font-family: var(--poppins-bold);
  font-size: 2rem;
  margin: 2rem 0 1.5rem 0;
  z-index: 10;
}

.service__caption {
  z-index: 10;
}

/* 
===========
Resume Section
===========
*/

.resume {
  position: relative;
  /* margin-bottom: 40rem;s */
  margin: 15rem 0;
}
.resume::before {
  content: "";
  position: absolute;
  left: -20%;
  right: -20%;
  margin: 0 auto;
  top: -5%;
  bottom: -5%;
  width: 140%;
  height: 110%;
  background-color: var(--section-bg-color);
  box-shadow: 0 0 4rem rgba(19, 182, 255, 24%);
  z-index: -3;
  transform: rotate(-5deg);
}
.resume-menu {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  background-color: var(--app-bg-color);
  z-index: 1;
}
.resume-menu::before {
  content: "";
  position: absolute;
  width: 5rem;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: var(--main-color);
  z-index: -1;
}
.resume-menu__item {
  display: flex;
  align-items: center;
}
.resume-menu__icon {
  width: 5rem;
}
.resume__menu-title {
  padding: 0.5rem 0;
  margin-left: 2rem;
  position: relative;
  font-family: var(--poppins-semibold);
  cursor: pointer;
}
.resume__menu-title::before {
  content: "";
  position: absolute;
  width: 5rem;
  height: 5rem;
  left: -5.6rem;
  top: 0;
  bottom: 0;
  margin: auto 0;
  background-color: var(--main-color);
  border-radius: 50%;
  z-index: -1;
}
.resume__menu-item--active {
  color: #fff;
}
.resume__menu-item--active .resume__menu-title::before {
  width: 20rem;
  border-radius: 3rem;
  color: #fff;
}
.resume-content-wrapper {
  border-left: 0.3rem solid var(--main-color);
  padding-left: 3rem;
}
.resume-content {
  margin-top: 1rem;
}
.resume-content__head {
  display: flex;
  justify-content: space-between;
}
.resume-content__title {
  margin: 0;
  font-family: var(--poppins-semibold);
  font-size: 1.8rem;
  color: var(--second-color);
  position: relative;
}

.resume-content__title::before {
  content: "";
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--main-color);
  top: 0;
  bottom: 0;
  margin: auto 0;
  left: -3.9rem;
  border-radius: 50%;
}
.resume-content__des {
  margin: 0;
  background-color: var(--second-color);
  padding: 0.3rem 1.5rem;
  border-radius: 2rem;
  color: #fff;
}
.resume-content__caption {
  font-family: var(--poppins-semibold);
  margin: 1rem 0;
  font-size: 1.5rem;
}
.resume-content__description {
}

/* 
===========
Portfolio Section
===========
*/

.portfolio {
}

.portfolio-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 3rem;
}

.portfolio-menu__item {
  padding: 1rem 3rem;
  cursor: pointer;
  transition: all 150ms ease;
}
.portfolio-menu__item:hover {
  color: var(--main-color);
}
.portfolio-menu__item--active {
  background-color: var(--main-color);
  border-radius: 2rem;
  color: #fff;
}
.portfolio-menu__item--active:hover {
  color: #fff;
}

.portfolio-menu__text {
}
.portfolio-content {
  margin: 0 auto;
}
.portfolio-content__img {
  width: 100%;
  width: 100%;
  max-height: 52rem;
  object-fit: contain;
}

.swiper-pagination-bullet {
  width: 1.8rem !important;
  height: 1.8rem !important;
  border: 0.3rem solid #bfbebe !important;
  background-color: transparent !important;
  opacity: 1 !important;
  margin-top: 2rem !important;
}
.swiper-pagination-bullet-active {
  border-color: var(--main-color) !important;
}
.swiper-pagination {
  position: static !important;
}

/* 
===========
Portfolio Section
===========
*/

.pricing {
  box-shadow: 0 0 4rem rgba(19, 182, 255, 24%);
  transform: skewY(-5deg);
  padding: 1rem 0 8rem 0;
  margin-top: 10rem;
  text-align: center;
  margin-bottom: 7rem;
  background-color: var(--section-bg-color);
}

.price-box {
  box-shadow: 0 0 6rem rgba(19, 182, 255, 24%);
  padding-bottom: 2rem;
  width: 100%;
}
.price-box__contant {
  padding: 2rem 6em;
  background-color: var(--app-bg-color);
}
.price-box__head {
  color: #fff;
  padding: 2rem;
  padding: 2rem 6rem;
}

.price-box__title {
  font-size: 4rem;
  font-family: var(--poppins-semibold);
  margin: 0;
}

.price-box__price {
  margin: 0;
  font-size: 2rem;
}

.price-box__caption {
  margin-top: 0.7rem;
}

.price-box__menu {
}

.price-box__item {
  display: flex;
  align-items: center;
}

.price-box__icon {
}
.price-box__ability {
  margin-left: 1rem;
}
.price-box__link {
}

/* 
===========
Contact Us Services
===========
*/

.contactus {
}

.contactus-wrapper {
  background-image: url("../images/map.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3rem 0;
}
.contactus-contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contactus__map {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-color: var(--app-bg-color);
  box-shadow: 0 0 4rem rgba(19, 182, 255, 40%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.contactus__icon {
}

.contact {
  padding: 2rem;
  box-shadow: 0 0 6rem rgba(19, 182, 255, 24%);
  background-color: var(--app-bg-color);
  width: 45rem;
}

.contact__title {
  margin-top: 0;
  font-size: 3rem;
  color: var(--main-color);
  margin: 0;
  font-family: var(--poppins-bold);
}

.contact__form {
  display: flex;
  flex-direction: column;
}

.contact__input {
  box-shadow: 0 0 6rem rgba(19, 182, 255, 24%);
  border: none;
  margin: 1rem 0;
  padding: 1rem 2rem;
  outline: none;
  border-radius: 1rem;
}

.contact__input::placeholder {
  color: var(--text-color);
}

.contact__input--textarea {
  resize: none;
}

.contact__submit {
  width: 100%;
  border: none;
  background-color: var(--main-color);
  color: #fff;
  padding: 1.2rem 0;
  border-radius: 3rem;
  margin-top: 1rem;
}

/* 

------
Footer
------

*/

.footer {
  padding: 2rem 0;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__copyright {
  word-spacing: 0.8rem;
  font-family: var(--poppins-semibold);
  font-size: 1.4rem;
}

.social {
}

.social__icon {
  fill: #fff;
  background-color: #000;
  border-radius: 50%;
  margin-left: 0.5rem;
  width: 3.5rem;
  height: 3.5rem;
}

.social__icon--blue {
  background-color: var(--main-color);
}
